/* || General setup */
style {
  @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Moo+Lah+Lah&family=Prompt:wght@300&family=Roboto:ital,wght@1,100;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Monoton&family=Moo+Lah+Lah&family=Prompt:wght@300&family=Roboto:ital,wght@1,100;1,400&display=swap');
}

html, body {
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;

}

html {
  font-size: 15px;
  background-image: url(IMAGENES/fondo.jpg);
  background-color:transparent;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;

}

/* || typography */

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

p, label, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;

}

h1 {
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(255, 0, 0);
}

h2 {
  text-align: center;
}



p, li {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: red;
  padding: 30px;
}

body>* {
  background-color: red;
  padding: 1%;
}

nav {
  background-color: rgb(40, 126, 255);
  padding: 0%;
}

main, article, aside, footer, section {
  background-color: rgba(0, 183, 255, 0.5);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 160px;
  padding-top: 20px;
}

main nav, header nav {
  height: 100px;
  flex: 100%;
  display: flex;
}

main nav ul, header nav ul {
  padding: 0;
  list-style-type: none;
  flex: 3;
  display: flex;
}

main nav li, header nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

main nav span, main nav a, header nav a, header nav span {
  display: inline-block;
  font-size: 25px;
  height: 10px;
  line-height: 1, 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}


aside {
  flex: 3;
  margin-left: 4px;
  padding: 5%;
}

main aside nav {
  height: auto;
  flex-direction: column;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: none;
  height: 300px;
}

aside nav ul li a {
  line-height: 1, 5px;
  display: block;
  width: 100%;
}

main aside nav ul li {
  flex: 1;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}


section figure {
  width: 150px;
  flex: auto;
}



section figure img {
  width: 100%;
}

article figure {
  float: right;
  width: 200px;
}

article figure img {
  float: right;
  width: 100%;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

table td {
  border: 1px solid;
  padding: 1em;
}

table tr {
  border-top: 1px solid;
}

img {
  width: 1200px;
  display: flex;

}

.titulo>h1 {
  width: 100%;
  font-weight: 400px;
  letter-spacing: 10px;
}

.noticias1 {
  display: flex;
  flex-flow: wrap;
  max-width: 50%;
  flex-basis: 50%;
}

.foto1 {
  display: flex;
  width: 100%;
  flex: 0 0 490px;
  text-align: justify;
}

main {
  display: flex;
  flex-flow: row;
}

.formulario {
  display: flex;
  flex-direction: column-reverse;
  background-color: orange;
  border-color: blue;
  border: 5px solid blue;
}

.formulario2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 81, 0);
  border-color: blue;
  border: 5px solid red;
}

.tabla1 {
  background-color: rgb(255, 167, 36);
  border: 5px solid brown;
  outline: 5px solid;
  font-family: Arial, Helvetica, sans-serif;

}

.tabla2 {
  background-color: rgb(19, 255, 58);
  border: 5px solid rgb(2, 48, 253);
  outline: 5px solid;
  font-family: Arial, Helvetica, sans-serif;
}

caption {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 238, 0);
}

.fotointer1 {
  display: flex;
  justify-content: center;

}

figure {
  display: flex;
  justify-content: baseline;
}

h2 {
  font-size: 40px;
}

section {
  border: 5px solid;
}

.santander1 {
  background-color: orange;
}

.santander2 {
  background-color: rgb(180, 51, 255);
}

.santander3 {
  background-color: rgb(49, 160, 49);
}

.fotosantander1 {
  display: flex;
  width: 100%;
  flex: 0 0 500px;
}

h3 {
  text-align: left;
  margin-top: 200px;
}

.nba1 {
  display: flex;
  width: 100%;
  flex: 0 0 100px;
  float:left;
  text-align: center;
}

.parrafon{
  display:flex;
flex-direction:row-reverse;
border: 5px solid;
outline:10px yellow;

}

.parrafon1 {
  background-color:rgba(131, 18, 97, 0.884);
  }
}

.parrafon2 {
  background-color: rgb(255, 238, 0);
}

.parrafon3 {
  background-color: rgb(255, 238, 0);
}


.euroliga1{
  background-color: rgb(255, 238, 0);

}

.euroliga2{
  background-color: rgb(90, 199, 17);

}

.euroliga{
display:flex;
justify-content:center;
border:5px solid;
}

.noticias1{
border: 5px solid;
outline:10px yellow;
background-color: rgb(230, 17, 17);

}

.noticias2{
border: 5px solid;
outline:10px yellow;
background-color: rgb(14, 111, 202);

}

.euroligafoto {
  display: flex;
  width: 100%;
  flex: 0 0 100px;
  float:left;
  text-align: center;
}

.foto3{
  display: flex;
  width: 100%;
  flex: 0 0 100px;
  float:left;
  text-align: center;
}