/* || General setup */
style {
  @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Moo+Lah+Lah&family=Prompt:wght@300&family=Roboto:ital,wght@1,100;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Monoton&family=Moo+Lah+Lah&family=Prompt:wght@300&family=Roboto:ital,wght@1,100;1,400&display=swap');
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  background-color: #a9a9a9;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;

}

/* || typography */

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

p, label, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;

}

h1 {
  font-size:30px;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(255, 0, 0);
}

h2 {
  text-align: center;
}



p, li {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: red;

}

body>* {
  background-color: red;
  padding: 1%;
}

nav {
  background-color: rgb(40, 126, 255);
  padding: 1%;
}

main, article, aside, footer, section {
  background-color: rgba(0, 183, 255, 0.5);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

main nav, header nav {
  height: 80px;
  flex: 100%;
  display: flex;
}

main nav ul, header nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

main nav li, header nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

main nav span, main nav a, header nav a, header nav span {
  display: inline-block;
  font-size: 1.4rem;
  height: 1.4rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}


aside {
  flex: 3;
  margin-left: 4px;
  padding: 5%;
}

main aside nav {
  height: auto;
  flex-direction: column;
}

main aside nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: none;
  height: 300px;
}

main aside nav ul li a {
  line-height: 1em;
  display: block;
  width: 100%;
}

main aside nav ul li {
  flex: 1;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}


section figure {
  width: 150px;
  flex: auto;
}



section figure img {
  width: 100%;
}

article figure {
  float: right;
  width: 200px;
}

article figure img {
  float: right;
  width: 100%;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

table td {
  border: 1px solid;
  padding: 1em;
}

table tr {
  border-top: 1px solid;
}
img{
width:1200px;
display:flex;

}
.titulo > h1{
width:100%;
font-weight:400px;
letter-spacing:10px;
}

.noticias1 {
display:flex;
flex-flow:wrap;
max-width:50%;
flex-basis:50%;
}
.foto1 {
display:flex;
width:100%;
flex: 0 0 500px;
text-align:justify;
}